$accent-bold-dark: #6457A6;
$accent-bold-medium: #08A4BD;
$accent-bright: #FD3E81;
$primary-dark: #1B1B1E;
$primary-light: #FBFFF1;
$accent-light: #32CBFF;
$theme-colors: (
  “light”: $primary-light,
  “dark”: $primary-dark
);

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
//font variables
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap');
$lato-font: 'Lato', sans-serif;
$merriweather-font: 'Merriweather', serif;
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
