$accent-bold-dark: #6457A6;
$accent-bold-medium: #08A4BD;
$accent-bright: #FD3E81;
$primary-dark: #1B1B1E;
$primary-light: #FBFFF1;
$accent-light: #32CBFF;
$toggle-height: 16em;
$toggle-width:27em;
$toggle-background-night: #292343;
$toggle-button-radius: 10em;
$moon-color: #D9FBFF;
$toggle-sun-radius: 7em;
$sun-color:#fff;
$toggle-background-day:#FFBF71;
$light-theme: (
  "background": #CECAE3,
  "foreground-accent":#005875,
  "accent-bright": #FE9ABD,
  "accent-neutral": #D4D4D9
);
$dark-theme:(
  "background": #41386b,
  "foreground-accent": #47d1ff,
  "accent-bright": #FD3E81,
  "accent-neutral": #1B1B1E
);
$hangman-accent: #7A3B69;

//font variables
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap');
$lato-font: 'Lato', sans-serif;
$merriweather-font: 'Merriweather', serif;
$header-font-size:2em;
$default-font-size:1em;
$secondary-font-size:0.83em;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
