@import './variables';

@function themed($key) {
    @return map-get($dark-theme, $key);
}

:root{
    --background-color: #{themed('background')};
    --text-color: #{themed('text-color')};
    --foreground-accent: #{themed('foreground-accent')};
    --accent-bright: #{themed('accent-bright')};
    --accent-neutral: #{themed('accent-neutral')};
    --nav-background: #{themed('nav-background')};
    --nav-color: #{themed('nav-color')};
    --nav-color-opaque: #{themed('nav-color-opaque')};
};