@import './variables';
@use "sass:map";
h1{
  background-color: $primary-color;
  color: $primary-font-color;
}
body{
  background-color: #ebebeb;

  &.first-paragraph{
    font-weight:map.get($font-weight,bold);
  }
}
