@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap");
:root {
  /* --background-color: #5A4D93; */
   --background-color: #B7A3CC;
  
  --text-color: #FBFFF1;
  
  /* --foreground-accent: #00B8F5; */
  --foreground-accent: #8F74B5;
  
  /* --accent-bright: #FD3E81; */
  --accent-bright: #C8A9F0;
  
  --accent-neutral: #1B1B1E;
  
  /* --nav-background: #575760; */
  --nav-background: #FFFFFF; 
  
  /* --nav-color: #FBFFF1; */
  --nav-color: #2C2C2C;
  
  /* --nav-color-opaque: #FBFFF1;  */
  --nav-color-opaque: #2C2C2C;
}
html, body {
  min-height: 100vh;
  margin: 0;              /* remove default body margin */
}

html {
  background: transparent;  /* make sure html isn't also styling a background */
}


/* Dark/Light mode toggle css */
.toggle-night {
  margin: 0 auto;
  /*change size of toggle with font-size*/
  font-size: 16%;
  margin-top: 0.1em;
  position: relative;
  height: 16em;
  width: 27em;
  border-radius: 12em;
  transition: all 500ms ease-in-out;
  background: #292343; }

.toggle-day {
  /* background: #FFBF71; */
background: #EAE4FA;
}

.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
  top: 3em;
  left: 4em;
  transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background: #292343;
  box-shadow: 3em 2.5em 0 0em #D9FBFF inset, rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em, rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) 2em 13em 0 -4em, rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em, rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em, rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em, rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em; }

.sun {
  top: 4.5em;
  left: 15em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff, 3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff, 0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff, -3.5em -3.5em 0 -3em #fff; }

@use "sass:map";
body {
  background: linear-gradient(180deg, #9C86B9 0%, #EDE7F6 100%);
  color: var(--text-color); 
}
  body a {
    color: var(--foreground-accent); }
    body a:hover {
      color: var(--foreground-accent); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

p, ul {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 17px; }
  p.centered-paragraph, ul.centered-paragraph {
    text-align: center;
    font-size: 1em;
    margin: 20px auto; }

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5%; }

.col {
  text-align: left; }

h1, h2, h3 {
  text-align: center;
  margin-top: 15px; }

.dropdown {
  float: left; }

.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.navbar {
  background-color: var(--nav-background) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-brand, .navbar-nav .active > .nav-link {
  color: var(--nav-color) !important; }

.navbar-nav .nav-link {
  color: var(--nav-color-opaque) !important; }

.navbar a:hover,
.dropdown:hover .dropbtn {
  display: block; }

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--nav-background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-menu a {
  float: none;
  color: var(--nav-color-opaque);
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  /* background-color: #FBFFF1;  */
  background-color: #EAE4FA;
}

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-toggle-split::after {
  /* color: #FBFFF1; */
  color: #8F74B5;
}

.descriptions {
  font-size: 1em; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%; }

.light {
  /* --background-color: #B5AFD5; */
  --background-color: #F9F7FB;
  
  /* --text-color: #FBFFF1; */
  --text-color: #2C2C2C;
  
  /* --foreground-accent: #008AB8; */
  --foreground-accent: #8F74B5;
  
  /* --accent-bright: #FE9ABD; */
  --accent-bright: #B7A3CC; 
  
  --accent-neutral: #D4D4D9;
  
  /* --nav-background: #FBFFF1; */
  --nav-background: #FFFFFF;
  
  --nav-color: rgba(0, 0, 0, 0.9);
  --nav-color-opaque: rgba(0, 0, 0, 0.9); }
