@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

p {
  font-family: "Merriweather", serif;
  font-weight: 300; }

a {
  color: #32CBFF; }
  a:hover {
    color: #32CBFF; }

body {
  background-color: #6457A6;
  color: white; }

.specificPage {
  border: 10px solid #FD3E81; }

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #6457A6;
  padding: 5%; }

.col {
  background-color: #6457A6;
  text-align: center; }

img {
  border: 10px solid #000; }

h1,
h2,
h3 {
  text-align: center;
  margin-top: 15px; }

.dropdown {
  float: left; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.navbar a:hover,
.dropdown:hover .dropbtn {
  display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-toggle-split::after {
  color: black; }

.descriptions {
  font-size: 25px; }
