@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;1,300&display=swap");
.card-img-custom {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  margin-top: 20%; }

.card-home {
  margin: 10px auto;
  background-color: #4E4E56;
  border-color: #FBFFF1;
  border-width: 5px;
  width: 300px;
  height: 85%;
  padding: 5px; }

body.light-theme .card-home {
  background-color: #D4D4D9;
  border-color: #FBFFF1; }

.card .btn {
  background-color: #FBFFF1;
  border: none;
  color: #1B1B1E;
  max-width: 70%;
  margin: 5px;
  margin-bottom: 10px;
  align-self: center;
  padding-left: 30px;
  padding-right: 30px; }

.card .btn:hover {
  background-color: #32CBFF; }
